.App {
  text-align: left;
}

.Bookstore-CMS {
  width: 100rem;
  height: 89.625rem;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: #f5f6fa;
}

.panel-bg-container {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}
